@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font: normal 100%/1.3 georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

  h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1.3rem;
    font-family: "PT Sans Narrow", sans-serif;
  }

ul, ol, p {
  margin: 0 0 1.3rem;
}

.masthead {
  background-color: e2e2e2;
  text-align: center;

}

.logo{
  display: block;
  width: 200px;
  margin: 0 auto;
}

.logo-img {

  width: 100%;
}


.nav_top {
  margin: 0;
  padding: 10px;
  overflow: hidden;

  background-color: #ccc;

  list-style-type: none;
}

.nav_top li:first-child {
  float: left;
}

.nav_top li:last-child {
  float: right;
}

.nav_top a {
  display: inline-block;
  padding: .5em .8em;

  background-color: #666;
  color: #fff;

  text-decoration: none;
}

/* Main Section */

.main {
  padding: 1.3rem 10px;

}

.intro {
  font-size: 1.125rem;
}

section {
  padding: 1.3rem 0;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;

}

.img-boxes {
  margin: 0 -5px;
  padding: 0;
  overflow: hidden;
  width: calc(100% +10px);
  list-style-type: none;
}

.img-fig {
  margin: 0;
  padding: 0;
  position: relative;;
}

.img-boxes > li {
  float: left;
  width: calc(50% - 10px);
  margin: 0 5px 10px;
}

.img-box-img {
  display: block;
  width: 100%;
}

.img-text {
  padding: .5rem;
  bottom: 1.3rem;
  position: absolute;;
  width: 100%;
  background-color: rgba(0, 0, 0, .2);
  text-align: center;

}
